<div class="logo">
  <%= image_tag("unnamed.png", alt: "practice fusion image") %>
</div>
<div class="logo-text">practice fusion</div>

<button aria-label="Home" style="color:#999999;" title="Home" onclick="window.location.href='/homepage'">
  <i class="fas fa-home"></i>
</button>
<div class="logo-text">Home</div>

<button aria-label="Schedule" style="color:#3bb4f2;" title="Schedule" onclick="window.location.href='/ot'">
  <i class="fas fa-calendar-alt"></i>
</button>
<div class="logo-text">Schedule</div>

<button aria-label="Tasks" style="color:#999999;" title="Tasks" onclick="window.location.href='/task'">
  <i class="fas fa-tasks"></i>
</button>
<div class="logo-text">Task</div>

<button aria-label="Charts" style="color:#999999;" title="Charts" onclick="window.location.href='/chart'">
  <i class="fas fa-file-medical-alt"></i>
</button>
<div class="logo-text">Charts</div>

<button aria-label="Messages" style="color:#999999;" title="Messages" onclick="window.location.href='/message'">
  <i class="fas fa-envelope"></i>
</button>
<div class="logo-text">Messages</div>

<button aria-label="Reports" style="color:#999999;" title="Reports" onclick="window.location.href='/report'">
  <i class="fas fa-chart-bar"></i>
</button>
<div class="logo-text">Reports</div>
