
<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Practice Fusion Schedule
  </title>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body>
  <div class="main-container d-flex flex-column flex-grow-1">
    <div class="main-container d-flex flex-column flex-grow-1">
      <nav class="nav nav-tabs">
        <a class="nav-link active" href="#" style="color:#0d6efd; font-weight: 500;">Patient lists <i class="fas fa-caret-down" style="font-size: 10px;"></i></a>
      </nav>

      <div class="tasks-header">
        <div>138 recent patients</div>
      </div>
      <div class="filter-bar border-bottom d-flex align-items-center gap-2 flex-wrap w-100">

        <!-- All providers search -->
        <div class="input-group" style="max-width: 180px;">
          <input type="search" class="form-control" placeholder="All providers" aria-label="All providers">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>

        <!-- Scheduled / Recent toggle -->
          <div class="btn-group" role="group" aria-label="Schedule Toggle">
            <input type="radio" class="btn-check" name="scheduleToggle" id="scheduled" autocomplete="off" checked>
            <label class="btn btn-outline-primary" for="scheduled" onclick="window.location.href='/scheduled'">Scheduled</label>

            <input type="radio" class="btn-check" name="scheduleToggle" id="recent" autocomplete="off">
            <label class="btn btn-outline-primary" for="recent" onclick="window.location.href='/recentpatients'">Recent</label>
          </div>

        <!-- Show inactive checkbox -->
        <div class="form-check ms-2">
          <input class="form-check-input" type="checkbox" id="showInactive">
          <label class="form-check-label" for="showInactive">Show inactive</label>
        </div>

        <!-- Search all patients -->
        <div class="input-group" style="max-width: 220px;">
          <input type="search" class="form-control" placeholder="Search all patients" aria-label="Search all patients">
          <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>

        <!-- Add patient button -->
        <button type="button" class="btn btn-warning text-white ms-auto">
          Add patient
        </button>
          <div class="container-fluid p-2">
            <div class="table-responsive">
              <table class="table table-borderless mb-0">
                <thead>
                  <tr>
                    <th scope="col" style="width: 12%;">
                      FIRST
                    </th>
                    <th scope="col" style="width: 12%;">
                      LAST
                    </th>
                    <th scope="col" style="width: 15%;">
                      DOB
                    </th>
                    <th scope="col" style="width: 40%;">
                      CONTACT INFO
                    </th>
                    <th scope="col" style="width: 21%;">
                      ACCESSED
                      <i class="fas fa-sort-down sort-icon">
                      </i>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                  <td class="user-cell" style="cursor: pointer;" onclick="window.location.href='/patientrecoad'">
                    <span aria-hidden="true" class="user-img">
                      <img alt="Gray circular user icon silhouette" height="32" src="https://storage.googleapis.com/a1aa/image/6d30a3fd-eaa0-4cb3-95fd-feb78a0550c5.jpg" width="32"/>
                    </span>
                    <a href="#" onclick="event.preventDefault();">Avis</a>
                    <br/>
                    <span class="prn">PRN WA897199</span>
                  </td>
                  <td>
                    <a href="#">
                    Weber
                    </a>
                  </td>
                  <td>
                    Sep 20, 1923
                    <br/>
                    <span class="dob-line">
                    Female
                    </span>
                  </td>
                  <td>
                    <span class="contact-info">
                    3100 Shore Drive, 207 A, Virginia Beach, ...
                    </span>
                  </td>
                  <td class="accessed">
                    12:13 PM,
                    <br/>
                    07/14/25
                  </td>
                  </tr>
                  <tr>
                  <td class="user-cell">
                    <span aria-hidden="true" class="user-img">
                    <img alt="Gray circular user icon silhouette" height="32" src="https://storage.googleapis.com/a1aa/image/6d30a3fd-eaa0-4cb3-95fd-feb78a0550c5.jpg" width="32"/>
                    </span>
                    <a href="#">
                    Mitchell
                    </a>
                    <br/>
                    <span class="prn">
                    PRN AM857099
                    </span>
                  </td>
                  <td>
                    <a href="#">
                    Austin
                    </a>
                  </td>
                  <td>
                    Jun 01, 1942
                    <br/>
                    <span class="dob-line">
                    Male
                    </span>
                  </td>
                  <td>
                    <span class="contact-info">
                    3100 Shore Drive, Apt 1142, Virginia Beach...
                    </span>
                    <br/>
                    <span class="contact-sub">
                    M
                    <a class="text-decoration-none" href="tel:(757)217-2323">
                      (757) 217-2323
                    </a>
                    </span>
                  </td>
                  <td class="accessed">
                    12:12 PM,
                    <br/>
                    07/14/25
                  </td>
                  </tr>
                  <tr>
                  <td class="user-cell">
                    <span aria-hidden="true" class="user-img">
                    <img alt="Gray circular user icon silhouette" height="32" src="https://storage.googleapis.com/a1aa/image/6d30a3fd-eaa0-4cb3-95fd-feb78a0550c5.jpg" width="32"/>
                    </span>
                    <a href="#">
                    James Christian
                    </a>
                    <br/>
                    <span class="prn">
                    PRN RJ587802
                    </span>
                  </td>
                  <td>
                    <a href="#">
                    Reese
                    </a>
                  </td>
                  <td>
                    Mar 04, 1975
                    <br/>
                    <span class="dob-line">
                    Male
                    </span>
                  </td>
                  <td>
                    <span class="contact-info">
                    615 Raleigh Avenue, Norfolk, VA 23507
                    </span>
                    <br/>
                    <span class="contact-sub">
                    M
                    <a class="text-decoration-none" href="tel:(757)373-2773">
                      (757) 373-2773
                    </a>
                    </span>
                  </td>
                  <td class="accessed">
                    12:33 AM,
                    <br/>
                    07/12/25
                  </td>
                  </tr>
                  <tr>
                  <td class="user-cell">
                    <span aria-hidden="true" class="user-img">
                    <img alt="Gray circular user icon silhouette" height="32" src="https://storage.googleapis.com/a1aa/image/6d30a3fd-eaa0-4cb3-95fd-feb78a0550c5.jpg" width="32"/>
                    </span>
                    <a href="#">
                    Harry
                    </a>
                    <br/>
                    <span class="prn">
                    PRN BH900376
                    </span>
                  </td>
                  <td>
                    <a href="#">
                    Brown
                    </a>
                  </td>
                  <td>
                    Feb 23, 1972
                    <br/>
                    <span class="dob-line">
                    Male
                    </span>
                  </td>
                  <td>
                    <span class="contact-info">
                    No current address recorded
                    </span>
                    <br/>
                    <span class="contact-sub">
                    M
                    <a class="text-decoration-none" href="tel:(757)995-4562">
                      (757) 995-4562
                    </a>
                    </span>
                  </td>
                  <td class="accessed">
                    12:26 AM,
                    <br/>
                    07/12/25
                  </td>
                  </tr>
                  <tr>
                  <td class="user-cell">
                    <span aria-hidden="true" class="user-img">
                    <img alt="Gray circular user icon silhouette" height="32" src="https://storage.googleapis.com/a1aa/image/6d30a3fd-eaa0-4cb3-95fd-feb78a0550c5.jpg" width="32"/>
                    </span>
                    <a href="#">
                    Tejal
                    </a>
                    <br/>
                    <span class="prn">
                    PRN DT34888
                    </span>
                  </td>
                  <td>
                    <a href="#">
                    Desai
                    </a>
                  </td>
                  <td>
                    Sep 28, 1979
                    <br/>
                    <span class="dob-line">
                    Male
                    </span>
                  </td>
                  <td>
                    <span class="contact-info">
                    334 W. Freemason St, Norfolk, VA 23510
                    </span>
                    <br/>
                    <span class="contact-sub">
                    M
                    <a class="text-decoration-none" href="tel:(757)287-9916">
                      (757) 287-9916
                    </a>
                    </span>
                  </td>
                  <td class="accessed">
                    12:26 AM,
                    <br/>
                    07/12/25
                  </td>
                  </tr>
                  <tr>
                  <td class="user-cell">
                    <span aria-hidden="true" class="user-img">
                    <img alt="Gray circular user icon silhouette" height="32" src="https://storage.googleapis.com/a1aa/image/6d30a3fd-eaa0-4cb3-95fd-feb78a0550c5.jpg" width="32"/>
                    </span>
                    <a href="#">
                    Dorothy
                    </a>
                    <br/>
                    <span class="prn">
                    PRN DD586108
                    </span>
                  </td>
                  <td>
                    <a href="#">
                    Denault
                    </a>
                  </td>
                  <td>
                    Mar 27, 1945
                    <br/>
                    <span class="dob-line">
                    Female
                    </span>
                  </td>
                  <td>
                    <span class="contact-info">
                    985 Fleet Drive, Apt 152 A, Virginia Beach,...
                    </span>
                    <br/>
                    <span class="contact-sub">
                    M
                    <a class="text-decoration-none" href="tel:(239)355-9975">
                      (239) 355-9975
                    </a>
                    <span class="icon-h">
                      H
                    </span>
                    <a class="text-decoration-none" href="tel:(757)716-3132">
                      (757) 716-3132
                    </a>
                    </span>
                  </td>
                  <td class="accessed">
                    2:55 AM, 07/10/25
                  </td>
                  </tr>
                  <tr>
                  <td class="user-cell">
                    <span aria-hidden="true" class="user-img">
                    <img alt="Gray circular user icon silhouette" height="32" src="https://storage.googleapis.com/a1aa/image/6d30a3fd-eaa0-4cb3-95fd-feb78a0550c5.jpg" width="32"/>
                    </span>
                    <a href="#">
                    Andrew
                    </a>
                    <br/>
                    <span class="prn">
                    PRN HA699828
                    </span>
                  </td>
                  <td>
                    <a href="#">
                    Hook
                    </a>
                  </td>
                  <td>
                    Nov 29, 1949
                    <br/>
                    <span class="dob-line">
                    Male
                    </span>
                  </td>
                  <td>
                    <span class="contact-info">
                    No current address recorded
                    </span>
                  </td>
                  <td class="accessed">
                    7:41 AM, 07/08/25
                  </td>
                  </tr>
                  <tr>
                  <td class="user-cell">
                    <span aria-hidden="true" class="user-img">
                    <img alt="Gray circular user icon silhouette" height="32" src="https://storage.googleapis.com/a1aa/image/6d30a3fd-eaa0-4cb3-95fd-feb78a0550c5.jpg" width="32"/>
                    </span>
                    <a href="#">
                    Maureen
                    </a>
                    <br/>
                    <span class="prn">
                    PRN HM723852
                    </span>
                  </td>
                  <td>
                    <a href="#">
                    Hook
                    </a>
                  </td>
                  <td>
                    Aug 08, 1950
                    <br/>
                    <span class="dob-line">
                    Female
                    </span>
                  </td>
                  <td>
                    <span class="contact-info">
                    No current address recorded
                    </span>
                    <br/>
                    <span class="contact-sub">
                    M
                    <a class="text-decoration-none" href="tel:(757)617-8806">
                      (757) 617-8806
                    </a>
                    </span>
                  </td>
                  <td class="accessed">
                    7:40 AM, 07/08/25
                  </td>
                  </tr>
                  <tr>
                  <td class="user-cell">
                    <span aria-hidden="true" class="user-img">
                    <img alt="Gray circular user icon silhouette" height="32" src="https://storage.googleapis.com/a1aa/image/6d30a3fd-eaa0-4cb3-95fd-feb78a0550c5.jpg" width="32"/>
                    </span>
                    <a href="#">
                    Mary
                    </a>
                    <br/>
                    <span class="prn">
                    PRN DM246920
                    </span>
                  </td>
                  <td>
                    <a href="#">
                    Demersseman
                    </a>
                  </td>
                  <td>
                    Jun 01, 1944
                    <br/>
                    <span class="dob-line">
                    Female
                    </span>
                  </td>
                  <td>
                    <span class="contact-info">
                    761 Alliance Dr, Apt 417, Virginia Beach, V...
                    </span>
                    <br/>
                    <span class="contact-sub">
                    M
                    <a class="text-decoration-none" href="tel:(727)505-9506">
                      (727) 505-9506
                    </a>
                    <span class="icon-h">
                      H
                    </span>
                    <a class="text-decoration-none" href="tel:(757)716-3039">
                      (757) 716-3039
                    </a>
                    </span>
                  </td>
                  <td class="accessed">
                    7:37 AM, 07/08/25
                  </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
      </div>
    </div>
  </div>
  <script crossorigin="anonymous" integrity="sha384-ENjdO4Dr2bkBIFxQpeoY9l+Y1NQZ6jIW3" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
  </script>
 </body>
</html>
