<html lang="en">
 <head>
  <meta charset="utf-8"/>
  <meta content="width=device-width, initial-scale=1" name="viewport"/>
  <title>
   Practice Fusion Schedule
  </title>
  <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" rel="stylesheet"/>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
 </head>
 <body>
  <div class="main-container d-flex flex-column flex-grow-1">
    <div class="header-bar">Reports</div>
      <div class="search-container">
        <form role="search" autocomplete="off" class="mb-0">
          <div class="input-group input-group-sm" style="max-width: 280px;">
            <input type="search" class="form-control form-control-sm" placeholder="Search" aria-label="Search" />
            <span class="input-group-text" id="search-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16" aria-hidden="true">
                <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85zm-5.442 1.398a5 5 0 1 1 0-10 5 5 0 0 1 0 10z"/>
              </svg>
            </span>
          </div>
        </form>
      </div>
      <div style="max-height: 550px; overflow-y: auto; padding: 10px 15px;">
        <div class="section-title">Quality reporting</div>
        <div class="report-line">
          <a href="#">eCQM Dashboard</a> Manage and report CQMs for incentive programs
        </div>
        <div class="report-line">
          <a href="#">Meaningful Use Dashboard (Medicaid Promoting Interoperability)</a> Track progress towards meeting Medicaid Promoting Interoperability program requirements
        </div>
        <div class="report-line">
          <a href="#">Meaningful Use Dashboard - Historic</a> Core and menu measure values for Meaningful Use 2011-2013
        </div>
        <div class="report-line">
          <a href="#">MIPS Dashboard</a> Track progress and manage requirements for each of the MIPS performance categories
        </div>

        <div class="section-title mt-3">Clinical reporting</div>
        <div class="report-line">
          <a href="#">Chart notes report</a> Search all of your practice’s chart notes
        </div>
        <div class="report-line">
          <a href="#">Diagnosis registry</a> Search patients that have a particular diagnosis
        </div>
        <div class="report-line">
          <a href="#">Drug interactions report</a> Review the responses to Drug-Drug and Drug-Allergy interaction reports
        </div>
        <div class="report-line">
          <a href="#">e-Prescription report</a> Retrieve a history of all e-Prescriptions per provider
        </div>
        <div class="report-line">
          <a href="#">EHI export</a> Export electronic health information for individual patients or all patients
        </div>
        <div class="report-line">
          <a href="#">Exported batch CCD files</a> Retrieve all exported CCDs from the Patient List Report and batch export CCDs for all your patients
        </div>
        <div class="report-line">
          <a href="#">Medication report</a> Search patients that have been prescribed a particular medicine
        </div>
        <div class="report-line">
          <a href="#">Patient list report</a> Search patients various combinations of criteria
        </div>
        <div class="report-line">
          <a href="/patientlistreport">Patient list report <span class="text-orange">NEW</span></a> Create custom patient list reports by searching for patients based on various combinations of clinical and demographic data
        </div>
        <div class="report-line">
          <a href="#">Patient prescription history</a> Search for a patient’s prescription history including those retrieved from PBMs, payers, and pharmacies.
        </div>
        <div class="report-line">
          <a href="#">Prescription report</a> Retrieve a history of all prescriptions per provider
        </div>
        <div class="report-line">
          <a href="#">Referrals report - Fax</a> View the fax referrals you have made
        </div>
        <div class="report-line">
          <a href="#">Decision support intervention feedback report</a> View and export Decision support intervention report
        </div>
    </div>
  </div>
  <script crossorigin="anonymous" integrity="sha384-ENjdO4Dr2bkBIFxQpeoY9l+Y1NQZ6jIW3" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js">
  </script>
 </body>
</html>
